.canvas {
  display: grid;
  height: 100vh;
  place-items: center;
  position: fixed;
  top: 0;
  width: 100vw;

  .question {
    display: none;
    height: 80vh;
    padding-top: 20vh;
    width: 100%;

    .question-background, .question-content {
      height: 100%;
      position: fixed;
      width: 100%;
    }

    .question-background {
      background: rgba(255, 255, 255, 0.95);
      z-index: 1;
    }

    .question-content {
      line-height: 3;
      padding-left: 100px;
      padding-right: 100px;
      text-align: center;
      z-index: 2;
    }
  }
}