.canvas {
  display: grid;
  height: 100vh;
  place-items: center;
  position: fixed;
  top: 0;
  width: 100vw;

  .question {
    display: none;
    height: 100%;
    width: 100%;

    .question-background, .question-content {
      height: 100%;
      position: fixed;
      width: 100%;
    }

    .question-background {
      background: rgba(255, 255, 255, 0.95);
      z-index: 1;
    }

    .question-content {
      display: grid;
      line-height: 3;
      padding-left: 100px;
      padding-right: 100px;
      place-content: center;
      text-align: center;
      z-index: 2;

      .question-title {
        font-size: 2.0rem;
      }
    }
  }
}