$BeausiteClassic: 'BeausiteClassic', sans-serif;
$BeausiteSlick: 'BeausiteSlick', sans-serif;

@font-face {
  font-family: 'BeausiteClassic';
  font-style: normal;
  src: url('../fonts/BeausiteClassic/BeausiteClassicWeb-Medium.woff2') format('woff2'),
  url('../fonts/BeausiteClassic/BeausiteClassicWeb-Medium.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'BeausiteSlick';
  font-style: normal;
  src: url('../fonts/BeausiteSlick/BeausiteSlickWeb-Medium.woff2') format('woff2'),
  url('../fonts/BeausiteSlick/BeausiteSlickWeb-Medium.woff') format('woff');
  font-display: swap;
}